{% extends 'TamnunMainPage/layout.html' %}
{% load static %}
{% block title %} Tamnun {% endblock %}

{% block body %}

<!-- <script src=""></script> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <div class="btn-group-lg">
        <button type="button" class="btn btn-primary" id="tail_number">מספרי זנב</button>
        <button type="button" class="btn btn-primary" id="envelopes">מעטפות</button>
        <button type="button" class="btn btn-primary" id="items">פריטי משימה</button>
        <button type="button" class="btn btn-primary" id="fuelflow">מהלך דלק</button>
        <button type="button" class="btn btn-primary">עוד כפתור</button>
    </div>
    <form class="form-inline" action="" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="חפש">
      </div>
      <button type="submit" class="btn btn-primary">חפש</button>
    </form>
  </div>
</nav>

<div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
              <!-- This is the left side menu which displays the results of the calculations -->
              {% include "TamnunMainPage/_results_bar.html" %}
            </div>
            <div class="col-sm-8 text-center">
              {% block schematic %}
                <h1>תמנון</h1>
                <h2>אזור שרטוט ראשי</h2>
                <h3>המשך שרטוט</h3>
                <p>עוד טקסט</p>
              {% endblock %}
            </div>
            <div class="col-sm-2 sidenav">
                <!-- This is the right changing menu. the partial .html file creates the menu -->
                {% include "TamnunMainPage/_item_menu.html" %}
            </div>
            </div>
        </div>
</div>
<hr>
    <footer class="navbar" id="footer_calc">
        <div class="btn-group-lg">
            <button type="button" class="btn btn-info" id="envelopes">פירוט תצורה נבחרת</button>
            <button type="button" class="btn btn-success" id="generatePDF">הפק דפית תצורה</button>
        </div>
    </footer>
{% endblock %}