{% extends 'TamnunMainPage/layout.html' %}
{% load static %}
{% block title %} Tamnun {% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <div class="btn-group-lg">
        <button type="button" class="btn btn-primary" id="TailNumber">מספרי זנב</button>
        <button type="button" class="btn btn-primary" id="Envelopes">מעטפות</button>
        <button type="button" class="btn btn-primary" id="Items">פריטי משימה</button>
        <button type="button" class="btn btn-primary" id="FuelFlow">מהלך דלק</button>
        <button type="button" class="btn btn-primary">עוד כפתור</button>
    </div>
    <form class="form-inline" action="" method="post">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="חפש">
      </div>
      <button type="submit" class="btn btn-primary">חפש</button>
    </form>
  </div>
</nav>

<div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
              <h3>
                תוצאות דלק
              </h3>
              <h3>
                צנטרוגרמה
              </h3>
            </div>
            <div class="col-sm-8 text-center">
                <h1>תמנון</h1>
                <h2>אזור שרטוט ראשי</h2>
                <h3>המשך שרטוט</h3>
                <p>עוד טקסט</p>
            </div>
            <div class="col-sm-2 sidenav">
                <h3>
                  תפריט פריטים
                </h3>
                </div>
            </div>
        </div>
</div>
<hr>
    <footer class="container-fluid text-center">
        <p>נתונים קבועים</p>
    </footer>
{% endblock %}