{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- dependencies scripts -->
    <script type = "text/javascript" src="{% static 'TamnunMainPage/js/jquery/jquery.min.js' %}"></script>
    <!-- <script type = "text/javascript" src="{% static 'TamnunMainPage/js/jquery/jquery.slim.min.js' %}"></script> -->
    <!-- <script type = "text/javascript" src="{% static 'TamnunMainPage/js/jquery/core.js' %}"></script> -->
    <script type = "text/javasctipt" src="{% static 'TamnunMainPage/js/sizzle/sizzle.min.js' %}"></script>
    <script type = "text/javasctipt" src="{% static 'TamnunMainPage/js/bootstrap/bootstrap.min.js' %}"></script>
    <script type = "text/javascript" src="{% static 'TamnunMainPage/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script type = "text/javasctipt" src="{% static 'TamnunMainPage/js/popperjs/esm/popper.min.js' %}"></script>
    <script type = "text/javasctipt" src="{% static 'TamnunMainPage/js/popperjs/esm/popper-utils.min.js' %}"></script>

    <!-- our scripts -->
    <script type = "text/javascript" src="{% static 'TamnunMainPage/js/calc_layout.js' %}"></script>

    <!-- css stylesheets -->
    <link rel="stylesheet" href="{% static 'TamnunMainPage/style_calc.css' %}">
    <link rel="stylesheet" href="{% static 'TamnunMainPage/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'TamnunMainPage/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'TamnunMainPage/bootstrap-reboot.min.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>n
</html>