.navbar{
    direction: rtl;
}

#footer_calc{
    justify-content: center;
    direction: rtl;
}

.btn {
    direction: rtl;
}

#logo {
    /* size is relative to containing block */
    width: 90%;
    position: relative;
    left: -350%;
    top: -25%;
}

#schematic {
    width: 80%;
}