.navbar {
  direction: rtl;
}

#footer_calc > * {
  justify-content: center;
  direction: rtl;
}

.btn {
  direction: rtl;
}

#logo {
  /* size is relative to containing block */
  width: 5rem;
}

#schematic {
  width: 70%;
}

.modal {
  /* TODO: correct orientiation of modal */
  direction: rtl;
}

.table {
  direction: rtl;
}
